.upp-enhanced-recent-posts {

	&.aligncenter {
		ul {
			text-align: center;
		}
	}
	&.alignleft {
		ul {
			text-align: left;
		}
	}
	&.alignright {
		ul {
			text-align: right;
		}
	}
	&.alignfull,
	&.alignwide {
		ul {
			text-align: center;
		}
	}
	ul {
		margin: 0 !important;
		padding: 0 !important;
	}
	li {
		list-style-type: none;
		text-align: left;
	}
	a,
	a:hover,
	a:visited {
		text-decoration: none !important;
		display: block;
	}
	&.light {
		li {
			background-color: #FFF;
			padding: 10px 20px 10px 20px;
			border: 1px solid #EEE;
			&:hover {
				background-color: #e8e8e8;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #000;
		}
	}
}