.upp-enhanced-recent-posts {

	&.aligncenter {
		ul {
			text-align: center;
		}
	}
	&.alignleft {
		ul {
			text-align: left;
		}
	}
	&.alignright {
		ul {
			text-align: right;
		}
	}
	&.alignfull,
	&.alignwide {
		ul {
			text-align: center;
		}
	}
	ul {
		margin: 0 !important;
		padding: 0 !important;
	}
	li {
		list-style-type: none;
		text-align: left;
	}
	a,
	a:hover,
	a:visited {
		text-decoration: none !important;
		display: block;
	}
	&.aqua {
		li {
			background-color: #00FFFF;
			padding: 10px 20px 10px 20px;
			border: 1px solid #00a2ff;
			&:hover {
				background-color: #00e4ff;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #d0456f;
		}
	}
	&.blue {
		li {
			background-color: #0310c0;
			padding: 10px 20px 10px 20px;
			border: 1px solid #0212e2;
			&:hover {
				background-color: #2633d8;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #FFFFFF;
		}
	}
	&.brown {
		li {
			background-color: #43300f;
			padding: 10px 20px 10px 20px;
			border: 1px solid #362507;
			&:hover {
				background-color: #3e2c0e;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #FFFFFF;
		}
	}
	&.cyan {
		li {
			background-color: #00ffff;
			padding: 10px 20px 10px 20px;
			border: 1px solid #00b3b3;
			&:hover {
				background-color: #00e6e6;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #0080ff;
		}
	}
	&.dark {
		li {
			background-color: #000000;
			padding: 10px 20px 10px 20px;
			border: 1px solid #333333;
			&:hover {
				background-color: #222222;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #FFFFFF;
		}
	}
	&.gray {
		li {
			background-color: #808080;
			padding: 10px 20px 10px 20px;
			border: 1px solid #737373;
			&:hover {
				background-color: #676767;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #FFFFFF;
		}
	}
	&.green {
		li {
			background-color: #006400;
			padding: 10px 20px 10px 20px;
			border: 1px solid #004b00;
			&:hover {
				background-color: #003100;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #FFFFFF;
		}
	}
	&.light {
		li {
			background-color: #FFF;
			padding: 10px 20px 10px 20px;
			border: 1px solid #EEE;
			&:hover {
				background-color: #e8e8e8;
			}
		}
		a,
		a:hover,
		a:visited {
			color: #000;
		}
	}
}